<h1>Sign Up</h1>
<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<% if @user.errors.any? %>
  <div>
    <ul>
    <% @user.errors.full_messages.each do |m|%>
      <li><%= m %></li>
    <%end%>
    </ul>
  </div>
<% end %>

<%= form_for @user, data: { turbo: false } do |f| %>
  <div>
    <%= f.label :first_name %>
    <%= f.text_field :first_name, autofocus: true, :required => true %>
  </div>

  <div>
    <%= f.label :last_name %>
    <%= f.text_field :last_name, :required => true %>
  </div>

  <div>
    <%= f.label :email %>
    <%= f.text_field :email, :required => true %>
  </div>

  <div>
    <%= f.label :password %>
    <%= f.password_field :password, :required => true %>
  </div>
  <div>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, :required => true %>
  </div>
  <div>
    <%= f.submit "Sign up!" %>
  </div>
<% end %>