<p style="color: green"><%= notice %></p>

<div>
  <div>
    <%= link_to '<', plan_path(@plan, date: plan_date - 1) %>
    <%= plan_date.to_s %>
    <%= link_to '>', plan_path(@plan, date: plan_date + 1) %>
  </div>
  <% if @plan.completed_for_day?(plan_date) %>
    <h1 class="completed-plan"><%= @plan.title %></h1>
  <% else %>
    <h1><%= @plan.title %></h1>
  <% end %>
  <%= render :partial => "task_show", locals: {object: plan_date} %>
</div>

<div>
  <%= render :partial => "task_form" %>
</div>
<div>
  <%= link_to "Edit this plan", edit_plan_path(@plan) %> |
  <%= link_to "Back to plans", plans_path %>

  <%= button_to "Destroy this plan", @plan, method: :delete %>
</div>
